body{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    margin-top: 62px;
}

.logo{
            width: 42px;
            height: 42px;
            font-size: 42px;
            font-weight: 600;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 364px;
    margin-left: 210px; 
}

.nav_list{
    display: flex;
    gap: 226px;
    margin-right: 200px;
}

.nav_list ul{
    display: flex;
    gap: 45px;
    list-style: none;
}

.sing-up{
    background-color: rgb(233, 67, 57);
    color:white;
    font-size: 16px;
    padding-left:27px;
    padding-top:14px ;
    padding-right:27px ;
    padding-bottom: 14px;
    border-radius: 36px;
}

.log_in{
    text-decoration: none;
    color:rgb(25, 23, 32);
    font-weight: 600;
    font-size: 16px;
    padding-top:14px ;
}

.nav_list-one ul li{
    text-decoration: none;
    color:rgb(25, 23, 32);
    font-weight: 500;
    font-size: 14px;
    padding-top:14px ;
}

/* header/banner */

.banner{
    margin-top: 115px;
    display: flex;
    justify-content: center;
    gap: 109px;
    margin-bottom: 200px;
}

.banner_logo{
    width: 500px;
    height: 452px;
    background-color: #F2EBDA;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 37px;
    
    border-radius: 36px;
}
.banner-left{
    width: 585px;
    height: 405px;
}
.banner_title{
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
}



.order-field{
    width: 464px;
    height: 64px;
    background-color: rgb(246, 246, 246);
    border-radius: 56px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 15px;
    margin-top: 32px;
    margin-bottom: 35px;
    align-items: center;
}

.btn-one{
    padding-left:20px;
    padding-top:15px ;
    padding-right:20px ;
    padding-bottom:15px;
    border: none;
    color: white;
    background-color: rgb(233, 67, 57);
    border-radius: 56px;
    
}

.order-field p {
color: #AFAFAF;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.07px;
}

.download{
    display: flex;
    gap: 33px;
}
.main_one{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.discount{
    width: 622px;
    justify-content: center;
}

.discount span {
    color: #FF5331;
}

.discount h1 {
color: #191720;
text-align: center;
font-size: 46px;
font-style: normal;
font-weight: 600;
line-height: 58px; /* 126.087% */
letter-spacing: -0.46px;
}
.discount p{
color:  #191720;
font-size: 18px;
font-style: normal;
text-align: center;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: -0.18px;
}

.main_two{
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 45px;
}
.main_product{
    display: flex;
    gap: 36px;
}



.product-one{
    background-color: #FAFAFA;
    padding-left: 20px;
    padding-right: 20px;
    width: 168px;
    height: 232px;
    border-radius: 28px;
    
}

.product-one p{
    text-align: center;
    font-size: 53.159px;
    font-style: normal;
    font-weight: 500;
    line-height: 53.159px;
    padding: 15px; 
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    border-radius: 50px;/* 100% */
   
}
.product-one h1{
text-align: center;
font-size: 24px;
font-weight: 500;
line-height: 24px; /* 100% */
letter-spacing: -0.24px;
}

.delivery_product{
    width: 558px;
    height: 232px;
    border-radius: 28px;
    background: #FAFAFA;
    padding-left: 20px;
}
.delivery_product h4{
    font-size: 25.8px;
font-style: normal;
font-weight: 600;
}
.deals{
    color: #FF5331;

}

.free{
    color: #009B00;
}

.delivery_car{
    display: flex;
    justify-content: end;
}

.foodItems{
    display: flex;
    justify-content: center;
    margin-bottom: 195px;
}

.foodText{
color: #494949;
font-size: 23px;
font-weight: 400;
line-height: 34px; 
width: 545px;
}


/* order section */

.order-section h2 {
    color: #2E2C49;
    text-align: center;  
    font-size: 46px;
    font-weight: 600;
    line-height: 46px; /* 100% */
    letter-spacing: 0.23px;
    margin-bottom: 60px;
}
.order-product{
    display: flex;
    gap: 125px;
    justify-content: center;
    margin-bottom: 195px;
}
 .order-product-one {
    background-color: #FAFAFA;
    padding-left: 20px;
    padding-right: 20px;
    width: 168px;
    height: 232px;
    border-radius: 28px;
 }
.order-product-one p{
    text-align: center;
    font-size: 53.159px;
    font-style: normal;
    font-weight: 500;
    line-height: 53.159px;
    padding: 15px; 
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    border-radius: 30px;
} 
.order-product-one h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px; /* 100% */
    letter-spacing: -0.24px;
}


/* clients-feetBack */

.clients-feetBack h1{
    color: #111;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 18px;
}
.clients-feetBack-text{

color: #000;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.clients-feetBack h3 {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 42px;
}

.customer-details h4 { color: #111;
text-align: center;
font-size: 18px;
font-weight: 600;
letter-spacing: -0.18px;
margin-bottom: 1px;

}
.customer-details p {
color: #616161;
text-align: center;
font-size: 14px;
font-weight: 400;
letter-spacing: -0.14px;
}

.sedeBar{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 167px;
}


/* subscribe */
.subscribe{
 background-color: #FFEFEC;
display: flex;
width: 1612px;
padding: 90px 145px;
flex-direction: column;
align-items:center;
gap: 8px;
}

.sub{
    display: flex;
    
    align-items: center;
    gap: 650px;
}

.subscribe-text-one {
color: #000;
font-family: Poppins;
font-size: 46px;
font-style: normal;
font-weight: 600;
}
.subscribe-text-two {
color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.footer{
    background-color: #000;
    padding-top: 101px;
    padding-bottom: 101px;
    padding-left: 101px;
    padding-right: 93px;
}

.footer-section{
    display: flex;
   justify-content: space-around;
}

.footer-logo p {
font-size: 42px;
font-weight: 900;
}

.app{
    display: flex;
    gap: 33px;
}

.footer-text{
    display: flex;
    gap: 144px;
}

.footer-one h4{
    color: #FFEFEC;
}

.footer-one p {
color: #B5B2B2;
font-size: 17.756px;
font-style: normal;
font-weight: 400;
}

.copyRight{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    color: #B5B2B2;
}
.copy{
    display: flex;
    gap: 20px;
}




